<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meme Form</title>
</head>
<body>
    <form action="/memes" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="text" name="price" id="price">
        <label for="imgURL">Image URL</label>
        <input type="text" name="imgURL" id="imgURL">
        <input type="submit">
    </form>
</body>
</html>